.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.product{
    width: 200px;
    border: 1px solid rgb(210, 210, 210);
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(225, 225, 225);
}
.product img{
    width: 100%;
    height: 300px;
}